html,
    body,
    div,
    h1,
    h2,
    h3,
    h4,
    p,
    a,
    strong,
    ul,
    li,
    footer,
    header,
    hgroup,
    nav,
    section,
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    footer,
    header,
    nav,
    section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol,
    {
        list-style: none;
    }
    blockquote,
    q {
        quotes: none;
    }
    /* HTML5 own styling*/
}
article {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-style: italic;
}
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-style: oblique;
}
header {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-style: italic;
}
aside {
    font-family: 'Sigmar One', cursive;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 600px;
}
footer {
    font-family: 'Sigmar One', cursive;
}
div {
    height: 400px;
    margin: 20px;
    padding: 20px;
    width: 1400px;
    display: inline-block;
}
html {
    background-color: burlywood
}
#top {
    font-size: 22px
}
